# Wikipedia Article Recommendation System

In [1]:
import graphlab

In [2]:
people =graphlab.SFrame('people_wiki.csv')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\SHIVKU~1\AppData\Local\Temp\graphlab_server_1574462635.log.0

This non-commercial license of GraphLab Create for academic use is assigned to shivk7466@gmail.com and will expire on July 24, 2020.

Finished parsing file C:\Users\shiv kumar\Desktop\ML-Project\Wikipedia-Article-Recommendation\people_wiki.csv

Parsing completed. Parsed 100 lines in 0.377989 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 26690 lines. Lines per second: 43163.5

Finished parsing file C:\Users\shiv kumar\Desktop\ML-Project\Wikipedia-Article-Recommendation\people_wiki.csv

Parsing completed. Parsed 59071 lines in 1.01233 secs.

In [3]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [4]:
len(people)      # number of user profile in the data set.

59071

In [5]:
# Adding a new column in the data set and count each no of each words in the text data

people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [6]:
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
| franz rottensteiner born i... | {'all': 1L, 'bauforschung'... |
| henry krvits born 30 decem... | {'legendary': 1L, 'gangste... |
| sam henderson born october... | {'now': 1L, 'currently': 1... |
| aaron lacrate is an americ... | {'exclusive': 2L, 'produce... |
| trevor ferguson aka john f... | {'taxi': 1L, 'salon': 1L, ... |
| grant nelson born 27 april... | {'houston': 1L, 'frankie':... |
| cathy caruth born 1955 is ... | {'phenomenon': 1L, 'debora... |
+-------------------------------+-------------------------------+
[10 rows x 4 columns]

In [7]:
# finding out thr TI-IDF from the word_count vector and add it in a new column in the data set.

people['tfidf'] = graphlab.text_analytics.tf_idf(people['word_count'])

In [8]:
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
| franz rottensteiner born i... | {'all': 1L, 'bauforschung'... |
| henry krvits born 30 decem... | {'legendary': 1L, 'gangste... |
| sam henderson born october... | {'now': 1L, 'currently': 1... |
| aaron lacrate is an americ... | {'exclusive': 2L, 'produce... |
| trevor ferguson aka john f... | {'taxi': 1L, 'salon': 1L, ... |
| grant nelson born 27 april... | {'houston': 1L, 'frankie':... |
| cathy caruth born 1955 is ... | {'phenomenon': 1L, 'debora... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'since': 1.45537671730804... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'legendary': 4.2808562943... |
| {'now': 1.96695239252401, ... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[10 rows x 5 columns]

In [9]:
elton = people[people['name']== 'Elton John']

In [10]:
elton

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 1L, 'six': 1L, 'pr... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [11]:
elton_word_count = elton[['word_count']].stack('word_count', new_column_name=['word','count']).sort('count' , ascending=False)

In [12]:
elton_word_count

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [13]:
elton[['tfidf']].stack('tfidf', new_column_name=['word','count']).sort('count',ascending =False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     count     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [14]:
beckham = people[people['name']=='Victoria Beckham']

In [15]:
beckham

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Victoria Beckham |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| victoria caroline beckham ... | {'millionin': 1L, 'saying'... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'millionin': 7.7283988512... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [16]:
beckham[['word_count']].stack('word_count', new_column_name=['word','count']).sort('count', ascending=False)

Columns:
	word	str
	count	int

Rows: 175

Data:
+----------+-------+
|   word   | count |
+----------+-------+
|   the    |   19  |
|    in    |   12  |
|   and    |   12  |
| beckham  |   8   |
|    to    |   6   |
|    of    |   6   |
| fashion  |   5   |
|   she    |   5   |
|    a     |   5   |
| victoria |   4   |
+----------+-------+
[175 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [17]:
beckham[['tfidf']].stack('tfidf', new_column_name =['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	float

Rows: 175

Data:
+--------------+---------------+
|     word     |     count     |
+--------------+---------------+
|   beckham    | 56.9223550265 |
|   fashion    | 21.1652873531 |
|    spice     | 19.9280699021 |
|   victoria   | 15.7663610884 |
|   designer   | 15.6191472125 |
| lowerpriced  | 10.9864953892 |
| chartbeckham | 10.9864953892 |
|    label     | 9.90513433711 |
|   clamour    | 9.88788310056 |
|   topmodel   | 9.60020102811 |
+--------------+---------------+
[175 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [18]:
swift = people[people['name']=='Taylor Swift']

In [19]:
swift

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Taylor Swift | taylor alison swift born d... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'singersongwriter': 1L, '... | {'singersongwriter': 4.048... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [20]:
swift['text']  ## text wikipedia data

dtype: str
Rows: ?
['taylor alison swift born december 13 1989 is an american singersongwriter raised in wyomissing pennsylvania swift moved to nashville tennessee at the age of 14 to pursue a career in country music she signed with the independent label big machine records and became the youngest songwriter ever hired by the sonyatv music publishing house the release of swifts selftitled debut album in 2006 established her as a country music star her third single our song made her the youngest person to singlehandedly write and perform a numberone song on the hot country songs chart she received a best new artist nomination at the 2008 grammy awards swifts second album fearless was released in 2008 buoyed by the pop crossover success of the singles love story and you belong with me fearless became the bestselling album of 2009 in the us the album won four grammy awards with swift becoming the youngest ever album of the year winner swifts third and fourth albums 2010s speak now and 2012s red both sold over one million copies within the first week of their us release speak now won two grammy awards while reds singles we are never ever getting back together and i knew you were trouble were worldwide hits swifts fifth album the popfocused 1989 was released in 2014 it sold more copies in its opening week than any album in the previous 12 years and made swift the first and only act to have three albums sell more than one million copies in a week the singles shake it off and blank space both reached number one on the billboard hot 100 swift is known for narrative songs about her personal experiences as a songwriter she has been honored by the nashville songwriters association and the songwriters hall of fame swifts other achievements include seven grammy awards twelve billboard music awards eleven country music association awards and seven academy of country music awards to date she has sold over 30 million albums 271 million in the us and 80 million digital single downloads in addition to her music career swift has appeared as an actress in the ensemble comedy valentines day 2010 the animated film the lorax 2012 and the giver 2014 as a philanthropist swift supports arts education childrens literacy natural disaster relief lgbt antidiscrimination efforts and charities for sick children', ... ]

In [21]:
swift[['word_count']].stack('word_count', new_column_name=['word','count']).sort('count',ascending= False)

Columns:
	word	str
	count	int

Rows: 212

Data:
+--------+-------+
|  word  | count |
+--------+-------+
|  the   |   28  |
|  and   |   14  |
|   in   |   12  |
|   of   |   8   |
|   a    |   7   |
| music  |   7   |
| swift  |   7   |
| awards |   7   |
| album  |   7   |
|   to   |   6   |
+--------+-------+
[212 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [22]:
swift[['tfidf']].stack('tfidf', new_column_name= ['word','count']).sort('count', ascending=False)

Columns:
	word	str
	count	float

Rows: 212

Data:
+----------+---------------+
|   word   |     count     |
+----------+---------------+
|  swift   | 45.2529476852 |
|  swifts  | 39.7098647575 |
|  album   | 17.1588608473 |
|  grammy  | 16.3430589007 |
|  awards  | 15.9878959242 |
| million  | 15.0891484438 |
|  copies  | 13.5010038008 |
| fearless | 13.4760002944 |
| country  | 13.3718014079 |
|  music   | 12.5495486088 |
+----------+---------------+
[212 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [23]:
angelina = people[people['name']=='Angelina Jolie']

In [24]:
angelina

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Angelina Jolie |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| angelina jolie doli johlee... | {'salt': 1L, 'producer': 1... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'salt': 4.932056042955824... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [25]:
angelina[['word_count']].stack('word_count',new_column_name=['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 220

Data:
+------+-------+
| word | count |
+------+-------+
| and  |   16  |
| the  |   15  |
| her  |   15  |
| for  |   10  |
|  in  |   10  |
|  as  |   9   |
|  a   |   9   |
|  of  |   7   |
| she  |   7   |
|  an  |   5   |
+------+-------+
[220 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [26]:
angelina[['tfidf']].stack('tfidf', new_column_name=['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	float

Rows: 220

Data:
+--------------+---------------+
|     word     |     count     |
+--------------+---------------+
|    jolie     | 37.4499391388 |
|     her      | 23.2532306795 |
|    voight    | 17.3678205925 |
|   actress    | 16.5943464882 |
|    croft     | 15.4567977024 |
| humanitarian | 14.8964161196 |
|   angelina   |  14.697818459 |
|     lara     | 13.3920718962 |
|   refugees   |  11.406583321 |
|    dramas    | 11.1230907435 |
+--------------+---------------+
[220 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [27]:
paul= people[people['name']=='Paul McCartney']

In [28]:
paul

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Paul McCartney |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| sir james paul mccartney m... | {'all': 1L, 'gold': 1L, 'o... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'all': 1.6431112434912472... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [29]:
paul['text'] ## text wikipedia data

dtype: str
Rows: ?
['sir james paul mccartney mbe born 18 june 1942 is an english singer multiinstrumentalist and composer with john lennon george harrison and ringo starr he gained worldwide fame as a member of the beatles one of the most popular and influential acts in the history of rock music his songwriting partnership with lennon is one of the most celebrated of the 20th century after the bands breakup he pursued a solo career and formed wings with his first wife linda and denny lainemccartney has been recognised as one of the most successful composers and performers of all time with 60 gold discs and sales of over 100 million albums and 100 million singles of his work with the beatles and as a solo artist more than 2200 artists have covered his beatles song yesterday more than any other copyrighted song in history wings 1977 release mull of kintyre is one of the alltime bestselling singles in the uk inducted into the rock and roll hall of fame as a solo artist in march 1999 mccartney has written or cowritten 32 songs that have reached number one on the billboard hot 100 and as of 2014 he has sold more than 155 million riaacertified units in the united states mccartney lennon harrison and starr received mbes in 1965 and in 1997 mccartney was knighted for his services to musicmccartney has released an extensive catalogue of songs as a solo artist and has composed classical and electronic music he has taken part in projects to promote international charities related to such subjects as animal rights seal hunting land mines vegetarianism poverty and music education he has married three times and is the father of five children', ... ]

In [30]:
paul[['word_count']].stack('word_count', new_column_name=['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 162

Data:
+------+-------+
| word | count |
+------+-------+
| and  |   17  |
|  of  |   15  |
| the  |   14  |
|  in  |   8   |
| has  |   7   |
|  as  |   7   |
| one  |   5   |
| his  |   5   |
| with |   5   |
|  he  |   5   |
+------+-------+
[162 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [31]:
paul[['tfidf']].stack('tfidf', new_column_name=['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	float

Rows: 162

Data:
+----------------+---------------+
|      word      |     count     |
+----------------+---------------+
|   mccartney    | 25.3301401563 |
|     lennon     | 18.9691688853 |
|    beatles     | 16.5050953672 |
|     starr      | 12.2533659697 |
|      solo      | 11.3545130372 |
| musicmccartney | 10.9864953892 |
| lainemccartney | 10.9864953892 |
|    harrison    | 10.6820969832 |
|      mbes      | 10.2933482087 |
|     wings      | 10.1622670823 |
+----------------+---------------+
[162 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [32]:
graphlab.distances.cosine(elton['tfidf'][0],beckham['tfidf'][0])

0.9567006376655429

In [33]:
graphlab.distances.cosine(elton['tfidf'][0],paul['tfidf'][0])

0.8250310029221779

### result= paul is more closer to elton

# Creating a K-NN (nearest neighbour) model.

## Word_count as a feature

In [34]:
word_count_model = graphlab.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

## TF-IDF as a feature

In [35]:
tfidf_model = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [36]:
# word_count model

word_count_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 6.983ms      |

| Done         |         | 100         | 246.342ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [37]:
word_count_model.query(beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 5.986ms      |

| Done         |         | 100         | 237.364ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [38]:
# tfidf_model

tfidf_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 8.98ms       |

| Done         |         | 100         | 259.305ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [39]:
tfidf_model.query(beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.97ms      |

| Done         |         | 100         | 235.369ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]

In [40]:
### TF-IDF is gettng a better prediction result in comparosion to raw count_words.